body{
  background: #000 url(amako.png) no-repeat fixed right bottom;
  color: white;
}
a{
  color: orange;
}
a:visited{
  color: orange;
}
h1{
  font-size: 20pt;
}

.option div{
  float: left;
  margin-right: 2em;
}

div#tagcloud {
  float: right;
  width: 200px;
  margin: 2px;
  padding: 0.8em;
  border: 2px solid white;
  background-color: black;
}

a.latest {
  color: #fc5;
}
a.earliest {
  color: #e80;
}
a.earlier {
  color: #a50;
}
a.later {
  color: #750;
}


.article {
  border-left: 2px solid #700;
  border-bottom: 2px solid #700;
  padding-bottom: 0.5em;
}

.article_header {
  padding-left: 0.5em;
}

.article_title:before {
  content: "+ ";
}

.article_title {
  font-size: 15pt;
  font-weight: bold;
  text-decoration: underline;
  background-color: #902;
  padding: 2px;
  border-right: solid 1px #D55;
  border-bottom: solid 1px #D55;
  margin-bottom: 0.5em;
  margin-top: 1em;
  display: block;
}

.article_body {
  display: block;
  padding-left: 0.5em;
  padding-top: 0.5em;
}

.main {
  padding: 10px;
}
.contents {
  word-wrap: break-word;
  padding: 5px;
}

.footer {
  text-align: center;
  padding: 1em;
}

